// COLORS

$color-primary-light: #ff9f1d;
$color-primary-dark: #212122;

$color-secondary-light: #9e9e9e;
$color-background: #111112;

$color-tertiary-light: #28abcb;
$color-tertiary-dark: #5d4da7;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #444;
$color-grey-dark-4: #222;

$color-white: #fff;
$color-black: #000;

// FONT
$header-font-size: 2.5rem;
$default-font-size: 1.6rem;
$bigger-font-size: 3.6rem;
