.home {
  position: relative;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2.2rem;

  @include respond-to(tab-land) {
    .home {
      height: 85vh;
    }
  }

  &__img img {
    width: 100%;
    height: auto;
    position: relative;
  }

  // .img__shadow {
  //   width: 50px;
  //   height: 50px;
  //   background-color: #fff;
  //   position: absolute;
  //   top: 350px;
  //   left: 650px;

  //   z-index: -1;

  //   box-shadow: 50px 20px 100px 100px rgb(255, 115, 0);
  //   border-radius: 50%;

  &__text {
    font-size: $bigger-font-size;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 3.3rem;

    & h1 {
      margin-bottom: 2rem;
    }
  }
}

span {
  color: $color-primary-light;
}

.btn {
  display: inline-block;
  padding: 1.5rem 1.5rem;
  background: $color-primary-dark;
  color: $color-primary-light;
  font-size: $default-font-size;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 2rem;
  margin-top: 1rem;

  transition: all 0.3s ease-in-out;

  // SPOT FOR ICONS
  // & i {
  //   vertical-align: middle;
  //   margin-left: 0.8rem;
  //   font-size: ;
  // }

  &:hover {
    background: $color-primary-light;
    color: $color-background;
    box-shadow: $color-primary-light 0px 1px 10px;
  }
}

.btn-secondary {
  display: inline-block;
  margin-left: 3rem;
  font-size: $default-font-size;
  font-weight: 500;
  letter-spacing: 1px;
  border-bottom: 2px solid $color-primary-light;
  color: $color-primary-light;

  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.1) translateY(-0.5rem);
    border-bottom: 3px solid $color-primary-light;
  }
}
